/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #7186d1;
    padding: 100px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header {
    text-align: center;
    padding-bottom: 20px;
  }
  
  nav ul {
    font-size: 1.4rem;
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #292929;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  main {
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    color: #666;
    padding-top: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {

    text-align: left;
    /* margin-bottom: 10px; */
    padding-top: 2rem;
    padding-bottom: 2rem;


    padding-left: 12rem;
    padding-right: 12rem;

  }
  
  .project {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }

  #overview {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }

  #motivation {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }
  #design {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }

  #results {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }

  
  .project h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 15px;
  }
  
  .project a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .project a:hover {
    background-color: #23527c;
  }
  
  /* .badge-base LI-profile-badge */